@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Cinzel+Decorative&family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.dashboard-parent {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: auto;
  /* Navigation for mobile devices */
  /* Show menu */
  /*=============== SEARCH ===============*/
  /* Show search */
  /*=============== LOGIN ===============*/
  /*=============== BREAKPOINTS ===============*/
  /* For medium devices */
  /* For large devices */
}
@media only screen and (max-width: 992px) {
  .dashboard-parent {
    grid-template-columns: 1fr;
  }
}
.dashboard-parent .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #064789;
  box-shadow: 0 2px 16px hsla(230, 75%, 32%, 0.15);
  z-index: var(--z-fixed);
}
.dashboard-parent .nav {
  height: var(--header-height);
  padding: 20px 0 0 0;
  align-items: center;
}
@media only screen and (max-width: 992px) {
  .dashboard-parent .nav {
    height: var(--header-height);
    padding: 20px 0 0 0;
    align-items: center;
    margin-top: -144px;
  }
}
.dashboard-parent .logo-div {
  padding-bottom: 20px;
  border-bottom: 1px solid #7999BE;
}
.dashboard-parent .logo-div .nav__logo {
  font-size: 30px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  color: #ffffff;
  font-family: "ABeeZee", sans-serif;
  padding-left: 30px;
}
.dashboard-parent .logo-div .nav__logo img {
  width: 100%;
}
@media only screen and (max-width: 992px) {
  .dashboard-parent .logo-div .nav__logo img {
    width: 80%;
  }
}
.dashboard-parent .nav__actions {
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  flex-direction: column;
}
@media only screen and (max-width: 330px) {
  .dashboard-parent .nav__actions {
    display: flex;
    align-items: center;
    -moz-column-gap: 1rem;
    column-gap: 10px;
  }
}
.dashboard-parent .nav__actions button {
  border: none;
  outline: none;
  padding: 13px 35px;
  border-radius: 8px;
  color: #000;
  font-family: "ABeeZee", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media only screen and (max-width: 450px) {
  .dashboard-parent .nav__actions button {
    border: none;
    outline: none;
    padding: 10px 15px;
    border-radius: 8px;
    color: #000;
    font-family: "ABeeZee", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media only screen and (max-width: 330px) {
  .dashboard-parent .nav__actions button {
    border: none;
    outline: none;
    padding: 8px 9px;
    border-radius: 8px;
    color: #000;
    font-family: "ABeeZee", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.dashboard-parent .nav__search,
.dashboard-parent .nav__login,
.dashboard-parent .nav__toggle,
.dashboard-parent .nav__close {
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
  transition: color 0.4s;
}
@media screen and (max-width: 1023px) {
  .dashboard-parent .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: var(--body-color);
    box-shadow: 0 8px 16px hsla(230, 75%, 32%, 0.15);
    width: 20%;
    padding-block: 4.5rem 4rem;
    transition: top 0.4s;
    z-index: 111111;
    background: #064789;
    padding-left: 30px;
    height: 100vh;
  }
}
.dashboard-parent .nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  /* text-align: center; */
  padding: 0;
}
.dashboard-parent .nav__list #list {
  display: flex;
  align-items: center;
  gap: 0 10px;
}
.dashboard-parent .nav__list #list img {
  width: 100%;
}
.dashboard-parent .nav__list .nav__link {
  color: rgb(255, 255, 255);
  font-family: "ABeeZee", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.dashboard-parent .nav__close {
  position: absolute;
  top: 1.15rem;
  right: 1.5rem;
}
@media only screen and (max-width: 330px) {
  .dashboard-parent .nav__close {
    position: absolute;
    top: 1.15rem;
    right: 3.5rem;
  }
}
.dashboard-parent .show-menu {
  top: 0;
}
.dashboard-parent .search__form {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  background-color: var(--container-color);
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, 0.2);
  padding-inline: 1rem;
  border-radius: 0.5rem;
  transform: translateY(-1rem);
  transition: transform 0.4s;
}
.dashboard-parent .search__icon {
  font-size: 1.25rem;
  color: var(--title-color);
}
.dashboard-parent .search__input {
  width: 100%;
  padding-block: 1rem;
  background-color: var(--container-color);
  color: var(--text-color);
}
.dashboard-parent .search__input::-moz-placeholder {
  color: var(--text-color);
}
.dashboard-parent .search__input::placeholder {
  color: var(--text-color);
}
.dashboard-parent .show-search {
  opacity: 1;
  pointer-events: initial;
}
.dashboard-parent .show-search .search__form {
  transform: translateY(0);
}
.dashboard-parent .login__form,
.dashboard-parent .login__group {
  display: grid;
}
.dashboard-parent .login__form {
  background-color: var(--container-color);
  padding: 2rem 1.5rem 2.5rem;
  box-shadow: 0 8px 32px hsla(230, 75%, 15%, 0.2);
  border-radius: 1rem;
  row-gap: 1.25rem;
  text-align: center;
  transform: translateY(-1rem);
  transition: transform 0.4s;
}
.dashboard-parent .login__title {
  font-size: var(--h2-font-size);
  color: var(--title-color);
}
.dashboard-parent .login__group {
  row-gap: 1rem;
}
.dashboard-parent .login__label {
  display: block;
  text-align: initial;
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-bottom: 0.25rem;
}
.dashboard-parent .login__input {
  width: 100%;
  background-color: var(--container-color);
  border: 2px solid var(--border-color);
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--text-color);
}
.dashboard-parent .login__input::-moz-placeholder {
  color: var(--text-color);
}
.dashboard-parent .login__input::placeholder {
  color: var(--text-color);
}
.dashboard-parent .login__signup {
  margin-bottom: 0.5rem;
}
.dashboard-parent .login__signup a {
  color: var(--first-color);
}
.dashboard-parent .login__forgot {
  display: inline-block;
  color: var(--first-color);
  margin-bottom: 1.25rem;
}
.dashboard-parent .login__button {
  display: inline-block;
  background-color: var(--first-color);
  width: 100%;
  color: #fff;
  font-weight: var(--font-semi-bold);
  padding: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: box-shadow 0.4s;
}
@media screen and (min-width: 576px) {
  .dashboard-parent .search,
  .dashboard-parent .login {
    padding-top: 10rem;
  }
  .dashboard-parent .search__form {
    max-width: 450px;
    margin-inline: auto;
  }
  .dashboard-parent .search__close,
  .dashboard-parent .login__close {
    width: -moz-max-content;
    width: max-content;
    top: 5rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    font-size: 2rem;
  }
  .dashboard-parent .login__form {
    max-width: 400px;
    margin-inline: auto;
  }
}
@media screen and (min-width: 1023px) {
  .dashboard-parent .nav {
    height: calc(var(--header-height) + 2rem);
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
  .dashboard-parent .nav__close,
  .dashboard-parent .nav__toggle {
    display: none;
  }
  .dashboard-parent .nav__list {
    gap: 35px 0;
    flex-direction: column;
  }
  .dashboard-parent .login__form {
    padding: 3rem 2rem 3.5rem;
  }
}
@media screen and (min-width: 1150px) {
  .dashboard-parent .container {
    margin-inline: auto;
  }
}
.dashboard-parent #main-section {
  width: 95%;
  margin: 0 auto;
  padding-top: 25px;
}
.dashboard-parent #main-section .deafult .intro-title .flex {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 992px) {
  .dashboard-parent #main-section .deafult .intro-title .flex {
    flex-direction: column;
    align-items: center;
  }
}
.dashboard-parent #main-section .deafult .intro-title .flex .title h2 {
  font-size: 20px;
  font-family: "ABeeZee", sans-serif;
  font-style: italic;
  margin: 0;
}
.dashboard-parent #main-section .deafult .intro-title .flex .title p {
  font-size: 16px;
  font-family: "ABeeZee", sans-serif;
}
.dashboard-parent #main-section .deafult .intro-title .flex .user {
  display: flex;
  gap: 20px;
}
.dashboard-parent #main-section .deafult .intro-title .flex .user .img img {
  width: 100%;
}
.dashboard-parent #main-section .deafult .reserve {
  display: flex;
  gap: 0 10px;
  padding-top: 5px;
}
@media only screen and (max-width: 992px) {
  .dashboard-parent #main-section .deafult .reserve {
    flex-direction: column;
    gap: 10px 0;
  }
}
.dashboard-parent #main-section .deafult .reserve .reserve-button {
  width: 100%;
}
@media only screen and (max-width: 992px) {
  .dashboard-parent #main-section .deafult .reserve .reserve-button {
    width: 30%;
    margin: auto;
  }
}
.dashboard-parent #main-section .deafult .reserve .reserve-button a {
  text-decoration: none;
}
.dashboard-parent #main-section .deafult .reserve .reserve-button a button {
  background: none;
  border: none;
  background: #064789;
  color: white;
  padding: 10px 60px;
  font-size: 20px;
  font-family: "ABeeZee", sans-serif;
  font-style: italic;
  width: 100%;
}
.dashboard-parent #main-section .deafult .calender {
  display: flex;
  gap: 0 10px;
  padding: 10px 0;
}
@media only screen and (max-width: 992px) {
  .dashboard-parent #main-section .deafult .calender {
    flex-direction: column;
    gap: 10px 0;
    align-items: center;
  }
}
.dashboard-parent #main-section .deafult .calender .date-calender {
  display: flex;
  gap: 0 10px;
}
@media only screen and (max-width: 992px) {
  .dashboard-parent #main-section .deafult .calender .date-calender {
    margin: auto;
    width: 30%;
  }
}
.dashboard-parent #main-section .deafult .calender .date-calender input {
  border: none;
  background: #064789;
  color: white;
  padding: 10px 80px;
  font-size: 20px;
  font-family: "ABeeZee", sans-serif;
  font-style: italic;
  outline: none;
}
@media only screen and (max-width: 992px) {
  .dashboard-parent #main-section .deafult .calender .date-calender input {
    border: none;
    background: #064789;
    color: white;
    padding: 10px 67px;
    font-size: 20px;
    font-family: "ABeeZee", sans-serif;
    font-style: italic;
    outline: none;
    width: 53%;
  }
}
.dashboard-parent #main-section .deafult .calender .date-calender input::-moz-placeholder {
  color: #FFFFFF;
}
.dashboard-parent #main-section .deafult .calender .date-calender input::placeholder {
  color: #FFFFFF;
}
.dashboard-parent #main-section .deafult .calender .date-calender .img {
  background: #03284E;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 992px) {
  .dashboard-parent #main-section .deafult .calender .date-calender .img {
    display: none;
  }
}
.dashboard-parent #main-section .deafult .calender .date-calender .img img {
  width: 100%;
}
@media only screen and (max-width: 992px) {
  .dashboard-parent #main-section .deafult .calender .opening {
    width: 30%;
  }
}
.dashboard-parent #main-section .deafult .calender .opening button {
  background: none;
  border: none;
  background: #064789;
  color: white;
  padding: 10px 80px;
  font-size: 20px;
  font-family: "ABeeZee", sans-serif;
  font-style: italic;
}
@media only screen and (max-width: 992px) {
  .dashboard-parent #main-section .deafult .calender .opening button {
    width: 100%;
  }
}
.dashboard-parent #main-section .deafult .table-parent .help-table {
  width: 100%;
  margin-bottom: 2px;
}
.dashboard-parent #main-section .deafult .table-parent .help-table .help {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  place-content: center;
  gap: 2px;
}
@media only screen and (max-width: 992px) {
  .dashboard-parent #main-section .deafult .table-parent .help-table .help {
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-content: center;
    gap: 2px;
  }
}
.dashboard-parent #main-section .deafult .table-parent .help-table .help .item {
  background: #03284E;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard-parent #main-section .deafult .table-parent .help-table .help .item h3 {
  font-size: 12px;
  font-family: "ABeeZee", sans-serif;
  text-align: center;
  color: white;
  font-weight: 400;
}
.dashboard-parent #main-section .deafult .table-parent .limit-table {
  width: 100%;
  margin-bottom: 2px;
}
.dashboard-parent #main-section .deafult .table-parent .limit-table .help {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  place-content: center;
  gap: 2px;
}
@media only screen and (max-width: 992px) {
  .dashboard-parent #main-section .deafult .table-parent .limit-table .help {
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-content: center;
    gap: 2px;
  }
}
.dashboard-parent #main-section .deafult .table-parent .limit-table .help .item {
  background: #427AA1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard-parent #main-section .deafult .table-parent .limit-table .help .item h3 {
  font-size: 16px;
  font-family: "ABeeZee", sans-serif;
  text-align: center;
  color: white;
  font-weight: 400;
}
.dashboard-parent #main-section .deafult .table-parent .cover-table {
  width: 100%;
  margin-bottom: 2px;
}
.dashboard-parent #main-section .deafult .table-parent .cover-table .help {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  place-content: center;
  gap: 2px;
}
@media only screen and (max-width: 992px) {
  .dashboard-parent #main-section .deafult .table-parent .cover-table .help {
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-content: center;
    gap: 2px;
  }
}
.dashboard-parent #main-section .deafult .table-parent .cover-table .help .item {
  background: #2CA062;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard-parent #main-section .deafult .table-parent .cover-table .help .item h3 {
  font-size: 16px;
  font-family: "ABeeZee", sans-serif;
  text-align: center;
  color: white;
  font-weight: 400;
}
.dashboard-parent #main-section .deafult .table-parent .occu-table {
  width: 100%;
  margin-bottom: 2px;
}
.dashboard-parent #main-section .deafult .table-parent .occu-table .help {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  place-content: center;
  gap: 2px;
}
@media only screen and (max-width: 992px) {
  .dashboard-parent #main-section .deafult .table-parent .occu-table .help {
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-content: center;
    gap: 2px;
  }
}
.dashboard-parent #main-section .deafult .table-parent .occu-table .help .item {
  background: #03284E;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard-parent #main-section .deafult .table-parent .occu-table .help .item h3 {
  font-size: 16px;
  font-family: "ABeeZee", sans-serif;
  text-align: center;
  color: white;
  font-weight: 400;
}
.dashboard-parent #main-section .deafult .status-size-parent {
  padding: 40px 0;
}
.dashboard-parent #main-section .deafult .status-size-parent .table-status table {
  width: 100%;
  border: 2px solid #E7E8F2;
  padding: 40px;
  border-radius: 12px;
}
.dashboard-parent #main-section .deafult .status-size-parent .table-status table .main-row {
  display: table-row;
  vertical-align: inherit;
  border-color: green;
}
.dashboard-parent #main-section .deafult .status-size-parent .table-status table .main-row td {
  border-bottom: 2px solid #E7E8F2;
  padding: 20px 0;
  font-size: 14px;
  font-family: "ABeeZee", sans-serif;
}
.dashboard-parent #main-section .deafult .status-size-parent .table-status table .main-row-second td {
  border-bottom: 2px solid #E7E8F2;
  padding: 10px 0;
  font-size: 14px;
  font-family: "ABeeZee", sans-serif;
}
.dashboard-parent #main-section .deafult .status-size-parent .table-status table .main-row-second .first {
  display: flex;
  flex-direction: column;
}
.dashboard-parent #main-section .deafult .status-size-parent .table-status table .main-row-second .first .time {
  display: flex;
  gap: 0 10px;
}
.dashboard-parent #main-section .deafult .status-size-parent .table-status table .main-row-second .first .time img {
  width: 100%;
}
.dashboard-parent #main-section .deafult .status-size-parent .table-status table .main-row-second .first .lunch {
  display: flex;
  gap: 0 10px;
  padding-top: 5px;
}
.dashboard-parent #main-section .deafult .status-size-parent .table-status table .main-row-second .first .lunch img {
  width: 100%;
}
.dashboard-parent #main-section .deafult .status-size-parent .table-status table .main-row-second .first .lunch .custom-select {
  position: relative;
  width: 208px;
}
.dashboard-parent #main-section .deafult .status-size-parent .table-status table .main-row-second .first .lunch .custom-select .select-box {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  background: white;
  cursor: pointer;
  gap: 0 10px;
}
.dashboard-parent #main-section .deafult .status-size-parent .table-status table .main-row-second .first .lunch .custom-select .select-box .icon img {
  width: 100%;
}
.dashboard-parent #main-section .deafult .status-size-parent .table-status table .main-row-second .first .lunch .custom-select .select-box span {
  font-family: "ABeeZee", sans-serif;
  font-family: "ABeeZee", sans-serif;
  font-size: 14px;
}
.dashboard-parent #main-section .deafult .status-size-parent .table-status table .main-row-second .first .lunch .custom-select .select-box i {
  font-size: 14px;
}
.dashboard-parent #main-section .deafult .status-size-parent .table-status table .main-row-second .first .lunch .custom-select .options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  display: none;
  background: white;
  z-index: 8888;
  border-radius: 12px;
}
.dashboard-parent #main-section .deafult .status-size-parent .table-status table .main-row-second .first .lunch .custom-select .options .option {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.dashboard-parent #main-section .deafult .status-size-parent .table-status table .main-row-second .first .lunch .custom-select .options .option span {
  font-family: "ABeeZee", sans-serif;
  font-size: 14px;
  color: white;
}
.dashboard-parent #main-section .deafult .status-size-parent .table-status table tr td {
  border-bottom: 2px solid #E7E8F2;
  padding: 25px 0;
}
.dashboard-parent #toggle-btn {
  display: none;
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}
.dashboard-parent .main-content {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.dashboard-parent .main-content h3 {
  color: #333;
}
.dashboard-parent .main-content p {
  color: #555;
}
.dashboard-parent #toogle {
  color: red;
}/*# sourceMappingURL=dashboardfloor.css.map */