@import url("https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Cinzel+Decorative&family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.dashboard-parent {
  display: grid;
  grid-template-columns: 1fr auto;
  height: auto;
}
.dashboard-parent #sidebar {
  width: 100%;
  background-color: #064789;
  height: 100vh;
  transition: width 0.3s;
}
.dashboard-parent #sidebar .logo {
  padding-left: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #7999BE;
  padding-top: 20px;
}
.dashboard-parent #sidebar .logo h1 {
  margin: 0;
  color: #ffffff;
  font-family: "ABeeZee", sans-serif;
  font-size: 28px;
  font-weight: 400;
  font-style: italic;
}
.dashboard-parent #sidebar .buttons {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  padding-top: 20px;
  width: 100%;
}
.dashboard-parent #sidebar .buttons .side-bar-button {
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: 0.8s;
  padding: 10px 0 10px 30px;
  gap: 0 10px;
}
.dashboard-parent #sidebar .buttons .side-bar-button .img img {
  width: 100%;
}
.dashboard-parent #sidebar .buttons .side-bar-button a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: "ABeeZee", sans-serif;
}
.dashboard-parent #sidebar .buttons .side-bar-button:hover {
  background: #427AA1;
}
.dashboard-parent #main-section {
  width: 95%;
  margin: 0 auto;
}
.dashboard-parent #main-section .deafult .intro-title .flex {
  display: flex;
  justify-content: space-between;
}
.dashboard-parent #main-section .deafult .intro-title .flex .title h2 {
  font-size: 20px;
  font-family: "ABeeZee", sans-serif;
  font-style: italic;
  margin: 0;
}
.dashboard-parent #main-section .deafult .intro-title .flex .title p {
  font-size: 16px;
  font-family: "ABeeZee", sans-serif;
}
.dashboard-parent #main-section .deafult .intro-title .flex .user {
  display: flex;
  gap: 20px;
}
.dashboard-parent #main-section .deafult .intro-title .flex .user .img img {
  width: 100%;
}
.dashboard-parent #main-section .deafult .reserve {
  display: flex;
  gap: 0 10px;
  padding-top: 5px;
}
.dashboard-parent #main-section .deafult .reserve .reserve-button {
  width: 100%;
}
.dashboard-parent #main-section .deafult .reserve .reserve-button a {
  text-decoration: none;
}
.dashboard-parent #main-section .deafult .reserve .reserve-button a button {
  background: none;
  border: none;
  background: #064789;
  color: white;
  padding: 10px 60px;
  font-size: 20px;
  font-family: "ABeeZee", sans-serif;
  font-style: italic;
  width: 100%;
}
.dashboard-parent #main-section .deafult .calender {
  display: flex;
  gap: 0 10px;
  padding: 10px 0;
}
.dashboard-parent #main-section .deafult .calender .date-calender {
  display: flex;
  gap: 0 10px;
}
.dashboard-parent #main-section .deafult .calender .date-calender input {
  border: none;
  background: #064789;
  color: white;
  padding: 10px 80px;
  font-size: 20px;
  font-family: "ABeeZee", sans-serif;
  font-style: italic;
  outline: none;
}
.dashboard-parent #main-section .deafult .calender .date-calender input::-moz-placeholder {
  color: #FFFFFF;
}
.dashboard-parent #main-section .deafult .calender .date-calender input::placeholder {
  color: #FFFFFF;
}
.dashboard-parent #main-section .deafult .calender .date-calender .img {
  background: #03284E;
  padding: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dashboard-parent #main-section .deafult .calender .date-calender .img img {
  width: 100%;
}
.dashboard-parent #main-section .deafult .calender .opening button {
  background: none;
  border: none;
  background: #064789;
  color: white;
  padding: 10px 80px;
  font-size: 20px;
  font-family: "ABeeZee", sans-serif;
  font-style: italic;
}
.dashboard-parent #main-section .deafult .table-parent .help-table {
  width: 100%;
  padding: 10px 0;
  background: #03284E;
}
.dashboard-parent #main-section .deafult .table-parent .help-table .help .main-td {
  padding: 10px 23px;
  width: 10%;
}
.dashboard-parent #main-section .deafult .table-parent .help-table .help .main-td span {
  background: #3498db;
  padding: 5px 9px;
  border-radius: 80px;
  height: 10px;
  width: 10px;
}
.dashboard-parent #main-section .deafult .table-parent .help-table .help td {
  border: none;
  padding: 10px;
  text-align: center;
  color: white;
  font-size: 12px;
}
.dashboard-parent #main-section .deafult .table-parent .limit-table {
  width: 100%;
}
.dashboard-parent #main-section .deafult .table-parent .limit-table .help .main-td {
  padding: 10px 20px;
  width: 10%;
}
.dashboard-parent #main-section .deafult .table-parent .limit-table .help .main-td span {
  background: #3498db;
  padding: 5px 9px;
  border-radius: 80px;
  height: 10px;
  width: 10px;
}
.dashboard-parent #main-section .deafult .table-parent .limit-table .help td {
  border: none;
  padding: 20px;
  text-align: center;
  background: #427AA1;
  color: white;
  font-size: 12px;
}
.dashboard-parent #main-section .deafult .table-parent .cover-table {
  width: 100%;
}
.dashboard-parent #main-section .deafult .table-parent .cover-table .help .main-td {
  padding: 10px 20px;
  width: 10%;
}
.dashboard-parent #main-section .deafult .table-parent .cover-table .help .main-td span {
  background: #3498db;
  padding: 5px 9px;
  border-radius: 80px;
  height: 10px;
  width: 10px;
}
.dashboard-parent #main-section .deafult .table-parent .cover-table .help td {
  border: none;
  padding: 20px;
  text-align: center;
  background: #2CA062;
  color: white;
  font-size: 12px;
}
.dashboard-parent #main-section .deafult .table-parent .occupancy-table {
  width: 100%;
}
.dashboard-parent #main-section .deafult .table-parent .occupancy-table .help .main-td {
  padding: 10px 20px;
  width: 10%;
}
.dashboard-parent #main-section .deafult .table-parent .occupancy-table .help .main-td span {
  background: #3498db;
  padding: 5px 9px;
  border-radius: 80px;
  height: 10px;
  width: 10px;
}
.dashboard-parent #main-section .deafult .table-parent .occupancy-table .help td {
  border: none;
  padding: 20px;
  text-align: center;
  background: #03284E;
  color: white;
  font-size: 12px;
}
.dashboard-parent #main-section .deafult .status-size-parent .table-status table {
  width: 100%;
  border: 2px solid #E7E8F2;
  padding: 40px;
}
.dashboard-parent #main-section .deafult .status-size-parent .table-status table .main-row {
  display: table-row;
  vertical-align: inherit;
  border-color: green;
}
.dashboard-parent #main-section .deafult .status-size-parent .table-status table .main-row td {
  border-bottom: 2px solid #E7E8F2;
  padding: 20px 0;
}
.dashboard-parent #main-section .deafult .status-size-parent .table-status table .second-row-main .second-row-data {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  border-bottom: 2px solid #E7E8F2;
}
.dashboard-parent #main-section .deafult .status-size-parent .table-status table .second-row-main .second-row-data .first {
  display: flex;
  gap: 0 10px;
}
.dashboard-parent #main-section .deafult .status-size-parent .table-status table .second-row-main .second-row-data .first img {
  width: 100%;
}
.dashboard-parent #main-section .deafult .status-size-parent .table-status table .second-row-main .second-row-data .second {
  display: flex;
  gap: 0 10px;
}
.dashboard-parent #main-section .deafult .status-size-parent .table-status table .second-row-main .second-row-data .second img {
  width: 100%;
}
.dashboard-parent #toggle-btn {
  display: none;
  background-color: #3498db;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}
.dashboard-parent .main-content {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.dashboard-parent .main-content h3 {
  color: #333;
}
.dashboard-parent .main-content p {
  color: #555;
}/*# sourceMappingURL=dashboardfloor.css.map */