@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Cinzel+Decorative&family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './media.scss';

.dashboard-parent {
  display: grid;
  grid-template-columns: 1fr auto;
  height: auto;

  #sidebar {
    width: 100%;
    background-color: #064789;
    height: 100vh;
    transition: width 0.3s;

    .logo {
      padding-left: 30px;
      padding-bottom: 20px;
      border-bottom: 1px solid #7999BE;
      padding-top: 20px;

      h1 {
        margin: 0;
        color: #ffffff;
        font-family: 'ABeeZee', sans-serif;
        font-size: 28px;
        font-weight: 400;
        font-style: italic;
      }
    }

    .buttons {
      display: flex;
      flex-direction: column;
      gap: 20px 0;
      padding-top: 20px;
      width: 100%;

      .side-bar-button {
        display: flex;
        align-items: center;
        border-radius: 8px;
        transition: .8s;
        padding: 10px 0 10px 30px;
        gap: 0 10px;

        .img {
          img {
            width: 100%;
          }
        }

        a {
          text-decoration: none;
          color: white;
          font-size: 20px;
          font-family: 'ABeeZee', sans-serif;

        }
      }

      .side-bar-button:hover {
        background: #427AA1;
      }

    }

  }



  // MAIN SECTION SATRT FROM HERE===================


  #main-section {


    width: 95%;
    margin: 0 auto;

    .deafult {
      .intro-title {
        .flex {
          display: flex;
          justify-content: space-between;

          .title {
            h2 {
              font-size: 20px;
              font-family: 'ABeeZee', sans-serif;
              font-style: italic;
              margin: 0;

            }

            p {
              font-size: 16px;
              font-family: 'ABeeZee', sans-serif;
            }
          }

          .user {
            display: flex;
            gap: 20px;

            .img {
              img {
                width: 100%;
              }
            }
          }
        }
      }

      .reserve {
        display: flex;
        gap: 0 10px;
        padding-top: 5px;

        .reserve-button {
          width: 100%;

          a {
            text-decoration: none;

            button {
              background: none;
              border: none;
              background: #064789;
              color: white;
              padding: 10px 60px;
              font-size: 20px;
              font-family: "ABeeZee", sans-serif;
              font-style: italic;
              width: 100%;

            }
          }

        }
      }

      .calender {
        display: flex;
        gap: 0 10px;
        padding: 10px 0;

        .date-calender {
          display: flex;
          gap: 0 10px;

          input {
            border: none;
            background: #064789;
            color: white;
            padding: 10px 80px;
            font-size: 20px;
            font-family: "ABeeZee", sans-serif;
            font-style: italic;
            outline: none;
          }

          input::placeholder {
            color: #FFFFFF;
          }

          .img {
            background: #03284E;
            padding: 0 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
              width: 100%;
            }
          }
        }

        .opening {
          button {
            background: none;
            border: none;
            background: #064789;
            color: white;
            padding: 10px 80px;
            font-size: 20px;
            font-family: 'ABeeZee', sans-serif;
            font-style: italic;
          }
        }
      }

      .table-parent {



        // HELP========================  

        .help-table {
          width: 100%;
          padding: 10px 0;
          background: #03284E;

          .help {
            .main-td {
              padding: 10px 23px;
              width: 10%;

              span {
                background: #3498db;
                padding: 5px 9px;
                border-radius: 80px;
                height: 10px;
                width: 10px;
              }
            }

            td {
              border: none;
              padding: 10px;
              text-align: center;
              color: white;
              font-size: 12px;
            }
          }
        }

        // LIMIT TABLE========================

        .limit-table {
          width: 100%;


          .help {
            .main-td {
              padding: 10px 20px;
              width: 10%;

              span {
                background: #3498db;
                padding: 5px 9px;
                border-radius: 80px;
                height: 10px;
                width: 10px;
              }
            }

            td {
              border: none;
              padding: 20px;
              text-align: center;
              background: #427AA1;
              color: white;
              font-size: 12px;


            }
          }
        }


        // COVER TBALE===================
        .cover-table {
          width: 100%;


          .help {
            .main-td {
              padding: 10px 20px;
              width: 10%;

              span {
                background: #3498db;
                padding: 5px 9px;
                border-radius: 80px;
                height: 10px;
                width: 10px;
              }
            }

            td {
              border: none;
              padding: 20px;
              text-align: center;
              background: #2CA062;
              color: white;
              font-size: 12px;


            }
          }
        }

        // Occupancy TBALE===================



        .occupancy-table {
          width: 100%;


          .help {
            .main-td {
              padding: 10px 20px;
              width: 10%;

              span {
                background: #3498db;
                padding: 5px 9px;
                border-radius: 80px;
                height: 10px;
                width: 10px;
              }
            }

            td {
              border: none;
              padding: 20px;
              text-align: center;
              background: #03284E;
              color: white;
              font-size: 12px;


            }
          }
        }
      }
.status-size-parent{
  .table-status{
    table{
      width: 100%;
      border: 2px solid #E7E8F2;
      padding: 40px;
    .main-row{
      
        display: table-row;
        vertical-align: inherit;
        border-color: green;
    
      td{
        border-bottom: 2px solid #E7E8F2 ;
        padding: 20px 0;
      }
    }
    .second-row-main{
      .second-row-data{
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        border-bottom: 2px solid #E7E8F2 ;
     
        .first{
          display: flex;
          gap:0 10px;
          img{
            width: 100%;
          }
        }
        .second{display: flex;
          gap: 0 10px;
          img{
            width: 100%;
          }
        }
       
      }
    }
    }
  }
}

    }
  }

  #toggle-btn {
    display: none;
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .main-content {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .main-content h3 {
    color: #333;
  }

  .main-content p {
    color: #555;
  }


}